body {
    margin: 0;
    font-family: "Arial";
}
/*GLOBAl*/
.clearfix:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.title-gray{
    font-size: 30px;
    color: #445161;
    line-height: 36px;
    font-weight: 400;
}
.title-white{
    font-size: 30px;
    color: #ffffff;
    line-height: 36px;
    font-weight: 400;
}


.container {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid black;
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    color: #fff;
}

.main-header-wrp {
    width: 458px;
    float: left;
    /*border: 1px solid white;*/
}

.main-header-title {
    margin: 0 0 10px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.main-header-list {
    padding: 0 0 0 26px;
    margin: 0 0 0 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.main-header-list-item {
    list-style-type: none;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 20px;
    height: 15px;
    background-image: url("../img/check.png");
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: -25px;
}

.main-header-img {
    display: block;
    width: 469px;
    min-height: 214px;
    float: right;
    background-color: #fff;
}

.content {

}



.about-product{
    padding: 50px;
    box-sizing: border-box;
    clear: both;
}

.about-product-wrp{
    float: left;
    width: 649px;
    text-align: justify;

}

.about-product-title{
    margin: 0 0 30px 0;
    /*border: 1px solid black;*/
}
.about-product-text-p{
    /*border: 1px solid black;*/
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
}
.about-product-text-p:last-child {
    margin: 0;
}

.about-product-video{
    display: block;
    width: 430px;
    min-height: 245px;
    float: right;
    background-color: #445161;
}

.dignity {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding-bottom: 30px;
}

.dignity-title {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
    /*border: 1px solid black;*/
}

.dignity-item-wrp {
    width: 50%;
}

.dignity-item {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    /*border: 1px solid red;*/
}
.dignity-item-summ {
    margin: 0 0 20px 0;
;
}
.dignity-item-summ::-webkit-details-marker {
    display: none;
}


.dignity-item-summ:before{
    content: '+';
    background: #445161;
    color: white;
    font-size: 40px;
    margin: 0 10px 0 0;
    display: block;
    height: 32px;
    width: 32px;
    text-align: center;
    /*vertical-align: middle;*/
    line-height: 32px;
    float: left;
}

.dignity-item[open].summary:after {
    content: "-";
}

.screenshots{
    /*border: 1px solid red;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.screenshots-title {
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
    /*border: 1px solid black;*/
}
.screenshots-item-wrp{
    width: 100%;
    display: flex;
    /*flex-wrap: nowrap;*/
}
.screenshots-item{
    /*border: 1px solid black;*/
    margin: 30px 16px 0 0;
    display: flex;
}

.screenshots-item:last-child{
    margin-right: 0;
}

.screenshots-item-img{
    width: 200px;
    height: 150px;

    /*float: left;*/
}
.screenshots-item-text{
    padding: 0 0 0 16px;
}
.screenshots-item-title{
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-item-text-lead{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 15px 0 0 0 ;
    word-break: break-all;
}